USE [master]
GO
/****** Object:  Database [DB_WAREHOUSE]    Script Date: 3/2/2019 10:28:45 AM ******/
CREATE DATABASE [DB_WAREHOUSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_WAREHOUSE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_WAREHOUSE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_WAREHOUSE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_WAREHOUSE_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_WAREHOUSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_WAREHOUSE]
GO
/****** Object:  Table [dbo].[barang]    Script Date: 3/2/2019 10:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[barang](
	[id_barang] [varchar](10) NOT NULL,
	[barang] [varchar](30) NULL,
	[stok] [int] NULL,
	[merek] [varchar](30) NULL,
	[seri] [varchar](30) NULL,
	[jenis] [varchar](30) NULL,
	[id_rak] [varchar](10) NULL,
	[harga] [money] NULL,
	[expired_date] [datetime] NULL,
 CONSTRAINT [PK_barang] PRIMARY KEY CLUSTERED 
(
	[id_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rak]    Script Date: 3/2/2019 10:28:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rak](
	[id_rak] [varchar](10) NOT NULL,
	[rak] [varchar](20) NULL,
	[baris] [int] NULL,
 CONSTRAINT [PK_rak] PRIMARY KEY CLUSTERED 
(
	[id_rak] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'ASDasd', N'SDSDasd', 2)
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'dead', N'test lagi', 3)
INSERT [dbo].[rak] ([id_rak], [rak], [baris]) VALUES (N'erqwe', N'sadfasd', 1)
ALTER TABLE [dbo].[barang]  WITH CHECK ADD  CONSTRAINT [FK_barang_rak] FOREIGN KEY([id_rak])
REFERENCES [dbo].[rak] ([id_rak])
GO
ALTER TABLE [dbo].[barang] CHECK CONSTRAINT [FK_barang_rak]
GO
USE [master]
GO
